# Git Ignore file

.conan/
.idea/

# CMake files
.cmake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
gen/

# Recommended build directory
build/
Debug/
Testing/

# Compiler intermediate files
.o
.so
.la

.DS_Store
.ninja_*
build.ninja
output.txt
.cache
